@use "../../global/" as g;

// =========================================================================
// Project: Article List
// 記事カードを並べるグリッド（.p-article-list）
// =========================================================================
.p-article-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
  margin-bottom: 4rem;

  &--no-pagination {
    margin-bottom: 0;
  }

  @include g.mq(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
  }
}