@use "../../global/" as g;

// =========================================================================
// Project: Article Meta
// 記事ページのメタ情報（.p-article-meta）のスタイル設定
// =========================================================================
.p-article-meta {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.6rem 0;
  font-size: 1.3rem;
  border-top: 1px solid g.$color-border;
  border-bottom: 1px solid g.$color-border;

  &__header {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    align-items: center;
  }

  &__category-link {
    display: block;
    padding: 0.4em 1em;
    font-family: g.$font-en;
    font-weight: g.$font-weight-bold;
    color: g.$color-text-white;
    background-color: g.$color-main;
    border-radius: 2rem;
    transition: opacity g.$transition-base-duration g.$transition-base-easing;

    @include g.hover {
      opacity: g.$opacity-hover;
    }
  }

  &__time-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__date {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    font-family: g.$font-en;
    color: g.$color-text-main-light;

    &::before {
      width: 1em;
      aspect-ratio: 1;
      content: "";
      background-color: g.$color-text-main-light;
      mask-repeat: no-repeat;
      mask-size: contain;
    }

    &--post::before {
      mask-image: url("../images/icon/icon-time.svg");
    }

    &--modified::before {
      mask-image: url("../images/icon/icon-update.svg");
    }
  }

  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
  }

  &__tag {
    a {
      display: flex;
      gap: 0.4em;
      align-items: center;
      padding: 0.4em 0.8em;
      color: g.$color-text-main;
      background-color: g.$color-bg;
      border-radius: g.$radius-sm;
      transition:
        background-color g.$transition-base-duration g.$transition-base-easing,
        color g.$transition-base-duration g.$transition-base-easing;

      &::before {
        width: 1em;
        aspect-ratio: 1;
        content: "";
        background-color: g.$color-text-main-light;
        mask-image: url("../images/icon/icon-tag.svg");
        mask-repeat: no-repeat;
        mask-size: contain;
        transition: background-color g.$transition-base-duration g.$transition-base-easing;
      }

      @include g.hover {
        color: g.$color-main;
        background-color: g.$color-main-light;

        &::before {
          background-color: g.$color-main;
        }
      }
    }
  }
}
