@use "../../global/" as g;

// =========================================================================
// Project: TOC Modal List
// モーダル内の目次リスト（.p-toc-modal-list）のスタイル設定
// =========================================================================
.p-toc-modal-list {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__item {
    line-height: 1.5;

    &.is-active {
      font-weight: g.$font-weight-bold;
      color: g.$color-main;
    }

    &--h2 {
      font-size: 1.4rem;
      font-weight: g.$font-weight-bold;
    }

    &--h3 {
      padding-left: 1.6rem;
      font-size: 1.3rem;
      border-left: 1px solid g.$color-main; // 青の線
    }

    &--h4 {
      padding-left: 3.2rem;
      font-size: 1.2rem;
      color: g.$color-text-main-light;
      border-left: 1px solid g.$color-border; // 灰色の線
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    color: inherit;
  }
}
