/* stylelint-disable */
/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
  list-style: none;
}

/* Firefox: solve issue where nested ordered lists continue numbering from parent (https://bugzilla.mozilla.org/show_bug.cgi?id=1881517) */
ol {
  counter-reset: revert;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #3e3e3e;
  letter-spacing: 0.05em;
  background-color: #f7f7f7;
}

img {
  display: block;
}

.l-wrapper {
  padding-top: 6rem;
}
@media screen and (width >= 768px) {
  .l-wrapper {
    padding-top: 7rem;
  }
}
@media screen and (width >= 1024px) {
  .l-wrapper {
    padding-top: 9rem;
  }
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  width: 100%;
  height: 6rem;
  background-color: #fff;
  box-shadow: 0 0 1.5rem 0 rgba(102, 102, 102, 0.2);
}
@media screen and (width >= 768px) {
  .l-header {
    height: 7rem;
  }
}
@media screen and (width >= 1024px) {
  .l-header {
    height: 9rem;
  }
}
.l-header__inner {
  width: 100%;
  padding: 0 2rem;
}
@media screen and (width >= 768px) {
  .l-header__inner {
    padding: 0 3rem;
  }
}
@media screen and (width >= 1024px) {
  .l-header__inner {
    max-width: 118rem;
    padding: 0 4rem;
    margin-inline: auto;
  }
}
.l-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (width >= 1024px) {
  .l-header__inner {
    max-width: 160rem;
  }
}
.l-header__logo {
  width: 18.8rem;
}
@media screen and (width >= 768px) {
  .l-header__logo {
    width: 20.5rem;
  }
}
@media screen and (width >= 1024px) {
  .l-header__logo {
    width: 27.3rem;
  }
}
.l-header__logo-link {
  display: block;
  padding: 1rem 0;
  transition: opacity 0.4s ease-out;
}
@media (any-hover: hover) {
  .l-header__logo-link:hover {
    opacity: 0.7;
  }
}
.l-header__logo-image {
  width: 100%;
  object-fit: cover;
}
.l-header__actions {
  display: flex;
  gap: 3rem;
  align-items: center;
}
@media screen and (width >= 768px) {
  .l-header__actions {
    gap: 4rem;
  }
}
.l-header__category-wrapper {
  display: none;
}
@media screen and (width >= 1024px) {
  .l-header__category-wrapper {
    position: relative;
    display: block;
    display: grid;
    place-content: center;
    height: 9rem;
  }
}
@media screen and (width >= 1024px) and (any-hover: hover) {
  .l-header__category-wrapper:hover .l-header__category-list {
    clip-path: inset(0 0 0 0);
  }
}
.l-header__category-heading {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.4rem;
}
.l-header__category-heading::after {
  width: 1.1rem;
  height: 0.6rem;
  content: "";
  background-color: #3e3e3e;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.l-header__category-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 22rem;
  background-color: #1bb4d4;
  clip-path: inset(0 0 100% 0);
  transition: clip-path 0.4s ease-out;
}
.l-header__category-item:not(:last-of-type) {
  border-bottom: 1px dotted #fff;
}
.l-header__category-link {
  position: relative;
  display: block;
  padding: 1em;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  transition: color 0.4s ease-out;
}
.l-header__category-link::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.7rem;
  aspect-ratio: 1;
  content: "";
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: translate(-1em, -50%) rotate(-45deg);
  transition: border-color 0.4s ease-out, transform 0.4s ease-out;
}
@media (any-hover: hover) {
  .l-header__category-link:hover {
    color: #fce621;
  }
  .l-header__category-link:hover::after {
    border-color: #fce621;
    transform: translate(calc(-1em + 2px), -50%) rotate(-45deg);
  }
}
.l-header__search-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  clip-path: inset(0 0 100% 0);
  transition: clip-path 0.4s ease-out;
}
.l-header__search-wrapper.is-open {
  clip-path: inset(0 0 0 0);
}
@media screen and (width >= 1024px) {
  .l-header__search-wrapper {
    position: static;
    top: initial;
    left: initial;
    width: auto;
    height: auto;
    clip-path: inset(0 0 0 0);
    transition: none;
  }
}
.l-header__search-form {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 2rem;
}
@media screen and (width >= 768px) {
  .l-header__search-form {
    padding-right: 3rem;
  }
}
@media screen and (width >= 1024px) {
  .l-header__search-form {
    width: 28rem;
    padding-right: 0;
    padding-right: 2rem;
    border: 2px solid rgba(123, 123, 123, 0.3);
    border-radius: 0.4rem;
  }
}
.l-header__search-input {
  flex-grow: 1;
  padding: 0.5em 2rem;
  font-size: 1.4rem;
}
.l-header__search-input::placeholder {
  color: rgba(62, 62, 62, 0.75);
}
@media screen and (width >= 768px) {
  .l-header__search-input {
    padding: 0.5em 3rem;
    font-size: 1.6rem;
  }
}
@media screen and (width >= 1024px) {
  .l-header__search-input {
    padding: 0.8em;
    font-size: 1.4rem;
  }
}
.l-header__search-button {
  display: grid;
  place-content: center;
  height: 4rem;
  cursor: pointer;
}
.l-header__search-button::before {
  width: 2rem;
  aspect-ratio: 1;
  content: "";
  background-image: url("../images/icon/icon-search.svg");
  background-size: cover;
  transition: opacity 0.4s ease-out;
}
@media screen and (width >= 768px) {
  .l-header__search-button::before {
    width: 2.4rem;
  }
}
@media screen and (width >= 1024px) {
  .l-header__search-button::before {
    width: 2rem;
  }
}
@media (any-hover: hover) {
  .l-header__search-button:hover::before {
    opacity: 0.7;
  }
}
.l-header__contact-wrapper {
  display: none;
}
@media screen and (width >= 1024px) {
  .l-header__contact-wrapper {
    display: block;
  }
}
.l-header__contact-link {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 18rem;
  padding: 1rem 0;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  background-color: #1bb4d4;
  border: 1px solid transparent;
  border-radius: 100vmax;
  transition: color 0.4s ease-out, background-color 0.4s ease-out;
}
@media (any-hover: hover) {
  .l-header__contact-link:hover {
    color: #1bb4d4;
    background-color: #fff;
    border: 1px solid #1bb4d4;
  }
}
.l-header__contact-link svg {
  width: 2.2rem;
  fill: currentcolor;
}
.l-header__sp-search-button, .l-header__hamburger-button {
  display: grid;
  place-content: center;
  height: 4rem;
}
.l-header__sp-search-button::before, .l-header__hamburger-button::before {
  content: "";
  background-size: cover;
}
@media screen and (width >= 1024px) {
  .l-header__sp-search-button, .l-header__hamburger-button {
    display: none;
  }
}
.l-header__sp-search-button::before {
  width: 2rem;
  aspect-ratio: 1;
  background-image: url("../images/icon/icon-search.svg");
}
@media screen and (width >= 768px) {
  .l-header__sp-search-button::before {
    width: 2.4rem;
  }
}
.l-header__sp-search-button.is-open::before {
  background-image: url("../images/icon/icon-close-black.svg");
  transform: rotate(45deg);
}
.l-header__hamburger-button::before {
  width: 2rem;
  aspect-ratio: 2/1.4;
  background-image: url("../images/icon/icon-hamburger.svg");
}
@media screen and (width >= 768px) {
  .l-header__hamburger-button::before {
    width: 2.4rem;
  }
}
.l-header__sp-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: backdrop-filter 0.4s ease-out;
}
.l-header__sp-nav-wrapper.is-open {
  pointer-events: all;
  backdrop-filter: blur(5px);
}
.l-header__sp-nav-wrapper.is-open .l-header__sp-nav {
  transform: translateX(0);
}
@media screen and (width >= 1024px) {
  .l-header__sp-nav-wrapper {
    display: none;
  }
}
.l-header__sp-nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 66%;
  height: 100%;
  padding: 0 2rem;
  background-color: #1bb4d4;
  transform: translateX(100%);
  transition: transform 0.4s ease-out;
}
@media screen and (width >= 768px) {
  .l-header__sp-nav {
    width: 50%;
    padding: 0 3rem;
  }
}
.l-header__nav-close-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 6rem;
  border-bottom: 1px solid #fff;
}
.l-header__nav-close-button {
  display: grid;
  place-content: center;
  height: 4rem;
}
.l-header__nav-close-button::before {
  width: 1.4rem;
  aspect-ratio: 1;
  content: "";
  background-image: url("../images/icon/icon-close-white.svg");
  background-size: cover;
  transform: rotate(45deg);
}
@media screen and (width >= 768px) {
  .l-header__nav-close-button::before {
    width: 1.6rem;
  }
}
.l-header__sp-nav-list {
  display: flex;
  flex-direction: column;
}
.l-header__sp-nav-item {
  position: relative;
  border-bottom: 1px dotted #fff;
}
.l-header__sp-nav-item::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.7rem;
  aspect-ratio: 1;
  content: "";
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: translate(-1px, -50%) rotate(-45deg);
}
@media screen and (width >= 768px) {
  .l-header__sp-nav-item::after {
    width: 0.9rem;
  }
}
.l-header__sp-nav-link {
  display: block;
  width: fit-content;
  padding: 1em 0;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
}
.l-header__sp-nav-link--en {
  font-family: "Roboto", sans-serif;
}
@media screen and (width >= 768px) {
  .l-header__sp-nav-link {
    font-size: 1.6rem;
  }
}

.l-footer {
  padding: 6.4rem 0 1.6rem;
  background-color: #1bb4d4;
}
@media screen and (width >= 1024px) {
  .l-footer {
    padding: 8rem 0 1.6rem;
  }
}
.l-footer__inner {
  width: 100%;
  padding: 0 2rem;
}
@media screen and (width >= 768px) {
  .l-footer__inner {
    padding: 0 3rem;
  }
}
@media screen and (width >= 1024px) {
  .l-footer__inner {
    max-width: 118rem;
    padding: 0 4rem;
    margin-inline: auto;
  }
}
.l-footer__inner {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media screen and (width >= 1024px) {
  .l-footer__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
  }
}
@media screen and (width >= 1024px) {
  .l-footer__inner {
    padding: 0;
  }
}
.l-footer__logo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.l-footer__logo-link {
  display: block;
  width: 18.8rem;
  padding: 1rem 0;
}
.l-footer__logo-link svg {
  width: 100%;
}
.l-footer__logo-link svg path {
  fill: #fff;
  transition: fill 0.4s ease-out;
}
@media screen and (width >= 768px) {
  .l-footer__logo-link {
    width: 20.5rem;
  }
}
@media screen and (width >= 1024px) {
  .l-footer__logo-link {
    width: 27.3rem;
  }
}
@media (any-hover: hover) {
  .l-footer__logo-link:hover svg path {
    fill: #fce621;
  }
}
.l-footer__message {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #fff;
}
@media screen and (width >= 768px) {
  .l-footer__message {
    font-size: 1.3rem;
  }
}
@media screen and (width >= 1024px) {
  .l-footer__message {
    font-size: 1.4rem;
  }
}
.l-footer__nav-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
}
@media screen and (width >= 768px) {
  .l-footer__nav-list {
    grid-template-columns: repeat(3, 25%);
  }
}
@media screen and (width >= 1024px) {
  .l-footer__nav-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (width >= 1024px) {
  .l-footer__nav-item {
    margin-left: auto;
  }
}
.l-footer__nav-link {
  position: relative;
  display: block;
  width: fit-content;
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}
.l-footer__nav-link--en {
  font-family: "Roboto", sans-serif;
}
.l-footer__nav-link::before {
  position: absolute;
  top: 1rem;
  left: 0;
  color: #fce621;
  content: attr(data-text);
  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.4s ease-out;
}
@media screen and (width >= 1024px) {
  .l-footer__nav-link {
    font-size: 1.3rem;
  }
}
@media (any-hover: hover) {
  .l-footer__nav-link:hover::before {
    clip-path: inset(0 0 0 0);
  }
}
.l-footer__copyright {
  text-align: center;
}
@media screen and (width >= 1024px) {
  .l-footer__copyright {
    grid-column: 2/3;
    text-align: right;
  }
}
.l-footer__copyright-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  color: #fff;
}

.l-sidebar {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media screen and (width >= 768px) {
  .l-sidebar {
    gap: 4.8rem;
    max-width: 40rem;
    margin-inline: auto;
  }
}
@media screen and (width >= 1024px) {
  .l-sidebar {
    gap: 6.4rem;
    height: 100%;
  }
}

.l-contents {
  width: 100%;
  padding: 0 2rem;
}
@media screen and (width >= 768px) {
  .l-contents {
    padding: 0 3rem;
  }
}
@media screen and (width >= 1024px) {
  .l-contents {
    max-width: 118rem;
    padding: 0 4rem;
    margin-inline: auto;
  }
}
.l-contents {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #fff;
  border-radius: 0.8rem;
  box-shadow: 0 0 1.5rem 0 rgba(102, 102, 102, 0.2);
}
@media screen and (width >= 1024px) {
  .l-contents {
    flex-direction: row;
    justify-content: space-between;
  }
}
.l-contents__main {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 100%;
}
@media screen and (width >= 1024px) {
  .l-contents__main {
    width: calc(100% - 32rem - 4rem);
  }
}
.l-contents__sidebar {
  width: 100%;
}
@media screen and (width >= 1024px) {
  .l-contents__sidebar {
    width: 32rem;
  }
}

.l-main {
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.c-breadcrumb {
  padding: 1.6rem 0;
  background-color: #fff;
}
.c-breadcrumb__inner {
  width: 100%;
  padding: 0 2rem;
}
@media screen and (width >= 768px) {
  .c-breadcrumb__inner {
    padding: 0 3rem;
  }
}
@media screen and (width >= 1024px) {
  .c-breadcrumb__inner {
    max-width: 118rem;
    padding: 0 4rem;
    margin-inline: auto;
  }
}
@media screen and (width >= 1024px) {
  .c-breadcrumb__inner {
    padding: 0;
  }
}
.c-breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.c-breadcrumb__item {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  font-size: 1.2rem;
}
.c-breadcrumb__item:not(:first-of-type)::before {
  width: 0.6rem;
  aspect-ratio: 1;
  content: "";
  border-top: 1px solid rgba(62, 62, 62, 0.75);
  border-right: 1px solid rgba(62, 62, 62, 0.75);
  transform: rotate(45deg);
}
@media screen and (width >= 768px) {
  .c-breadcrumb__item {
    font-size: 1.3rem;
  }
}
.c-breadcrumb__link {
  color: #1bb4d4;
  transition: opacity 0.4s ease-out;
}
@media (any-hover: hover) {
  .c-breadcrumb__link:hover {
    opacity: 0.7;
  }
}
.c-breadcrumb__current {
  color: #3e3e3e;
}

.c-pagetop {
  position: fixed;
  right: 1.6rem;
  bottom: 2.4rem;
  z-index: 100;
  width: 4.4rem;
  aspect-ratio: 1;
  pointer-events: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.15);
  opacity: 0;
  transform: translateY(6rem);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out, background-color 0.4s ease-out;
}
.c-pagetop::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.7rem;
  aspect-ratio: 1;
  content: "";
  border-top: 2px solid #1bb4d4;
  border-left: 2px solid #1bb4d4;
  transform: translate(-50%, calc(-50% + 1px)) rotate(45deg);
}
.c-pagetop.is-active {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}
@media screen and (width >= 1024px) {
  .c-pagetop {
    right: 2.4rem;
  }
}
@media (any-hover: hover) {
  .c-pagetop:hover {
    background-color: #fce621;
  }
}

.c-card {
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.15);
}
.c-card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: opacity 0.4s ease-out;
}
@media (any-hover: hover) {
  .c-card__link:hover {
    opacity: 0.7;
  }
  .c-card__link:hover .c-card__image {
    transform: scale(1.05);
  }
}
.c-card__thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.c-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease-out;
}
.c-card__body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.6rem;
}
@media screen and (width >= 768px) {
  .c-card__body {
    padding: 2rem;
  }
}
.c-card__meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}
.c-card__category {
  padding: 0.4em 0.8em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #1bb4d4;
  background-color: rgba(27, 180, 212, 0.1);
  border-radius: 0.4rem;
}
.c-card__date {
  font-family: "Roboto", sans-serif;
  color: rgba(62, 62, 62, 0.75);
}
.c-card__title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8;
  -webkit-box-orient: vertical;
}
@media screen and (width >= 768px) {
  .c-card__title {
    font-size: 1.7rem;
  }
}
.c-card--widget {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}
.c-card--widget .c-card__link {
  flex-direction: row;
  gap: 1.6rem;
  align-items: center;
}
.c-card--widget .c-card__thumbnail {
  flex-shrink: 0;
  width: 12.8rem;
  border-radius: 0.4rem;
}
.c-card--widget .c-card__body {
  padding: 0;
}
.c-card--widget .c-card__title {
  font-size: 1.3rem;
  line-height: 1.6;
}
.c-card--in-article {
  height: auto;
}
@media screen and (width >= 768px) {
  .c-card--in-article {
    border-radius: 0.4rem;
  }
  .c-card--in-article .c-card__link {
    flex-direction: row;
    gap: 1.6rem;
    align-items: center;
  }
  .c-card--in-article .c-card__thumbnail {
    width: 33.3333333333%;
  }
}
.c-card--reverse .c-card__link {
  flex-direction: row-reverse;
}

.c-pagination .nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
@media screen and (width >= 768px) {
  .c-pagination .nav-links {
    gap: 1.6rem;
  }
}
.c-pagination .page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  aspect-ratio: 1;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #1bb4d4;
  background-color: #fff;
  border: 2px solid #1bb4d4;
  border-radius: 0.4rem;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
}
.c-pagination .page-numbers.dots {
  width: 2rem;
  pointer-events: none;
  border: none;
}
@media (any-hover: hover) {
  .c-pagination .page-numbers:hover {
    color: #fff;
    background-color: #1bb4d4;
  }
}
.c-pagination .current {
  color: #fff;
  pointer-events: none;
  background-color: #1bb4d4;
}
.c-pagination .prev,
.c-pagination .next {
  position: relative;
}
.c-pagination .prev::before,
.c-pagination .next::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.7rem;
  aspect-ratio: 1;
  content: "";
  border-top: 2px solid #1bb4d4;
  transition: border-color 0.4s ease-out;
}
@media (any-hover: hover) {
  .c-pagination .prev:hover::before,
  .c-pagination .next:hover::before {
    border-color: #fff;
  }
}
.c-pagination .prev::before {
  border-left: 2px solid #1bb4d4;
  transform: translate(calc(-50% + 1px), -50%) rotate(-45deg);
}
.c-pagination .next::before {
  border-right: 2px solid #1bb4d4;
  transform: translate(calc(-50% - 1px), -50%) rotate(45deg);
}

.c-toc-button {
  position: fixed;
  right: 1.6rem;
  bottom: 8rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4.4rem;
  aspect-ratio: 1;
  color: #fff;
  pointer-events: none;
  background-color: #1bb4d4;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.15);
  opacity: 0;
  transform: translateY(6rem);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}
.c-toc-button.is-active {
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0);
}
@media screen and (width >= 1024px) {
  .c-toc-button {
    display: none;
  }
}
.c-toc-button__icon {
  position: relative;
  display: block;
  width: 1.8rem;
  aspect-ratio: 1;
}
.c-toc-button__icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  aspect-ratio: 1;
  content: "";
  background-color: #fff;
  mask-image: url("../images/icon/icon-toc.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  transform: translate(-50%, -50%);
}
.c-toc-button__text {
  font-size: 1rem;
  font-weight: 700;
}

.p-article-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
  margin-bottom: 4rem;
}
.p-article-list--no-pagination {
  margin-bottom: 0;
}
@media screen and (width >= 768px) {
  .p-article-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
  }
}

.p-profile {
  background-color: rgba(27, 180, 212, 0.1);
}
.p-profile__bg {
  position: relative;
  aspect-ratio: 16/9;
}
.p-profile__bg::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(27, 180, 212, 0.25);
}
.p-profile__bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-profile__icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11rem;
  aspect-ratio: 1;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 1.5rem 0 rgba(102, 102, 102, 0.2);
  transform: translate(-50%, 50%);
}
.p-profile__icon-image {
  width: 85%;
  aspect-ratio: 160/125;
}
.p-profile__info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 7.2rem 1.6rem 2.4rem;
}
.p-profile__name {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.p-profile__text {
  font-size: 1.3rem;
  line-height: 1.8;
}
.p-profile__links {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}
.p-profile__link-button {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 12rem;
  padding: 1rem 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  border: 1px solid #3e3e3e;
  border-radius: 0.4rem;
  transition: color 0.4s ease-out, background-color 0.4s ease-out;
}
@media (any-hover: hover) {
  .p-profile__link-button:hover {
    color: #fff;
    background-color: #3e3e3e;
  }
}

.p-sidebar-widget__title {
  padding: 1.6rem;
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  background-color: #1bb4d4;
}
.p-sidebar-widget__title--category {
  margin-bottom: 0;
}
.p-sidebar-widget__category-list {
  display: flex;
  flex-direction: column;
}
.p-sidebar-widget__category-item {
  border-bottom: 1px dotted rgba(123, 123, 123, 0.3);
}
.p-sidebar-widget__category-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 4rem 1.6rem 1.6rem;
  transition: opacity 0.4s ease-out;
}
.p-sidebar-widget__category-link::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.7rem;
  aspect-ratio: 1;
  content: "";
  border-top: 2px solid #1bb4d4;
  border-right: 2px solid #1bb4d4;
  transform: translate(-0.6rem, -50%) rotate(45deg);
  transition: transform 0.4s ease-out;
}
@media (any-hover: hover) {
  .p-sidebar-widget__category-link:hover {
    opacity: 0.7;
  }
  .p-sidebar-widget__category-link:hover::after {
    transform: translate(-0.4rem, -50%) rotate(45deg);
  }
}
.p-sidebar-widget__category-name {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}
.p-sidebar-widget__category-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  aspect-ratio: 1;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #1bb4d4;
  background-color: rgba(27, 180, 212, 0.1);
  border-radius: 50%;
}
.p-sidebar-widget__cards {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.p-sidebar-widget__tags-wrapper {
  max-height: 32rem;
  padding: 1.6rem;
  overflow-y: scroll;
  border: 2px solid rgba(123, 123, 123, 0.3);
  border-radius: 0.4rem;
}
.p-sidebar-widget__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.p-sidebar-widget__tag-link {
  display: block;
  padding: 0.8rem 0;
  font-size: 1.3rem;
  font-weight: 700;
  color: #1bb4d4;
  transition: opacity 0.4s ease-out;
}
@media (any-hover: hover) {
  .p-sidebar-widget__tag-link:hover {
    opacity: 0.7;
  }
}

.p-archive-header {
  padding-bottom: 1.2rem;
  margin-bottom: 2.4rem;
  border-bottom: 2px solid #1bb4d4;
}
@media screen and (width >= 768px) {
  .p-archive-header {
    padding-bottom: 1.6rem;
    margin-bottom: 3.2rem;
  }
}
.p-archive-header__title {
  font-size: 2.4rem;
  font-weight: 700;
}
@media screen and (width >= 768px) {
  .p-archive-header__title {
    font-size: 2.8rem;
  }
}

.p-search-not-found {
  padding: 3.2rem 2.4rem;
  margin-bottom: 4rem;
  text-align: center;
  background-color: rgba(27, 180, 212, 0.1);
  border-radius: 0.8rem;
}
.p-search-not-found__text {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8;
}
@media screen and (width >= 768px) {
  .p-search-not-found__text {
    font-size: 1.5rem;
  }
}

.p-single {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
@media screen and (width >= 768px) {
  .p-single {
    gap: 4rem;
  }
}
.p-single__header {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
@media screen and (width >= 768px) {
  .p-single__header {
    gap: 2.4rem;
  }
}
.p-single__thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 0.8rem;
}
.p-single__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-single__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
}
@media screen and (width >= 768px) {
  .p-single__title {
    font-size: 3.2rem;
  }
}

.p-entry-content {
  font-size: 1.4rem;
  line-height: 1.8;
  color: #3e3e3e;
}
@media screen and (width >= 768px) {
  .p-entry-content {
    font-size: 1.6rem;
  }
}
.p-entry-content > * {
  margin-bottom: 2.4rem;
}
.p-entry-content > *:last-child {
  margin-bottom: 0;
}
.p-entry-content p:not([class]) {
  line-height: 1.8;
}
.p-entry-content a:not([class]) {
  color: #1bb4d4;
  text-decoration: underline;
  transition: opacity 0.4s ease-out;
}
@media (any-hover: hover) {
  .p-entry-content a:not([class]):hover {
    text-decoration: none;
    opacity: 0.7;
  }
}
.p-entry-content strong:not([class]),
.p-entry-content b:not([class]) {
  font-weight: 700;
}
.p-entry-content ul:not([class]),
.p-entry-content ol:not([class]) {
  line-height: 1.8;
  list-style: none;
}
.p-entry-content li:not([class]) {
  margin-bottom: 0.8rem;
}
.p-entry-content li:not([class]):last-child {
  margin-bottom: 0;
}
.p-entry-content img:not([class]) {
  max-width: 100%;
  height: auto;
  border-radius: 0.4rem;
}
.p-entry-content figure:not([class]) {
  margin: 0;
}
.p-entry-content figcaption:not([class]) {
  margin-top: 0.8rem;
  font-size: 1.3rem;
  color: rgba(62, 62, 62, 0.75);
  text-align: center;
}
.p-entry-content blockquote:not([class]) {
  padding: 1.6rem 2.4rem;
  margin: 3.2rem 0;
  color: rgba(62, 62, 62, 0.75);
  background-color: #f7f7f7;
  border-left: 4px solid rgba(123, 123, 123, 0.3);
}
.p-entry-content blockquote:not([class]) p {
  margin-bottom: 0;
}
.p-entry-content pre:not([class]),
.p-entry-content code:not([class]) {
  display: inline-block;
  padding: 0.2em 0.3em;
  margin-inline: 0.3em;
  color: #c72c4c;
  background-color: #f7f7f7;
}
.p-entry-content h2:not([class]),
.p-entry-content h3:not([class]),
.p-entry-content h4:not([class]),
.p-entry-content h5:not([class]),
.p-entry-content h6:not([class]) {
  margin-top: 4.8rem;
  font-weight: 700;
}
.p-entry-content h2:not([class]) {
  padding: 1.6rem 2.4rem;
  font-size: 2.2rem;
  color: #fff;
  background-color: #1bb4d4;
  border-radius: 0.4rem;
}
.p-entry-content h3:not([class]) {
  padding: 1.2rem 0;
  font-size: 2rem;
  border-top: 4px solid #1bb4d4;
  border-bottom: 4px solid #1bb4d4;
}
.p-entry-content h4:not([class]) {
  padding-left: 1.2rem;
  font-size: 1.8rem;
  border-left: 3px solid #1bb4d4;
}

.p-entry-content .is-style-box-hint,
.p-entry-content .is-style-box-hint-icon, .p-entry-content .is-style-box-note,
.p-entry-content .is-style-box-note-icon, .p-entry-content .is-style-box-correct,
.p-entry-content .is-style-box-correct-icon, .p-entry-content .is-style-box-caution,
.p-entry-content .is-style-box-caution-icon, .p-entry-content .is-style-box-warning,
.p-entry-content .is-style-box-warning-icon {
  padding: 1em;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.4rem;
}

.p-entry-content .is-style-box-hint-icon, .p-entry-content .is-style-box-note-icon, .p-entry-content .is-style-box-correct-icon, .p-entry-content .is-style-box-caution-icon, .p-entry-content .is-style-box-warning-icon {
  position: relative;
  padding: 1em 1em 1em 3em;
}
.p-entry-content .is-style-box-hint-icon::before, .p-entry-content .is-style-box-note-icon::before, .p-entry-content .is-style-box-correct-icon::before, .p-entry-content .is-style-box-caution-icon::before, .p-entry-content .is-style-box-warning-icon::before {
  position: absolute;
  top: 50%;
  left: 1em;
  width: 1.4em;
  aspect-ratio: 1;
  content: "";
  mask-repeat: no-repeat;
  mask-size: contain;
  transform: translateY(-50%);
}

.p-entry-content .is-style-list-step, .p-entry-content .is-style-list-number, .p-entry-content .is-style-list-dot, .p-entry-content .is-style-list-check, .p-entry-content .is-style-list-default {
  padding-left: 1.5em;
}
.p-entry-content .is-style-list-step li, .p-entry-content .is-style-list-number li, .p-entry-content .is-style-list-dot li, .p-entry-content .is-style-list-check li, .p-entry-content .is-style-list-default li {
  position: relative;
}
.p-entry-content .is-style-list-step li::before, .p-entry-content .is-style-list-number li::before, .p-entry-content .is-style-list-dot li::before, .p-entry-content .is-style-list-check li::before, .p-entry-content .is-style-list-default li::before {
  position: absolute;
  top: 50%;
  left: -1.5em;
  display: block;
  content: "";
}

.p-entry-content .is-style-table-stripe, .p-entry-content .is-style-table-first-col-bg, .p-entry-content .is-style-table-header-bg {
  width: 100%;
  margin-bottom: 2.4rem;
  border-collapse: collapse;
}
.p-entry-content .is-style-table-stripe th, .p-entry-content .is-style-table-first-col-bg th, .p-entry-content .is-style-table-header-bg th,
.p-entry-content .is-style-table-stripe td,
.p-entry-content .is-style-table-first-col-bg td,
.p-entry-content .is-style-table-header-bg td {
  padding: 1.2rem;
  border: 1px solid rgba(123, 123, 123, 0.3);
}
.p-entry-content .is-style-table-stripe th, .p-entry-content .is-style-table-first-col-bg th, .p-entry-content .is-style-table-header-bg th {
  font-weight: 700;
  text-align: center;
}

.p-entry-content .is-style-box-warning,
.p-entry-content .is-style-box-warning-icon {
  color: #8b4141;
  background-color: #fee7e7;
  border-color: #f9bebe;
}
.p-entry-content .is-style-box-warning-icon::before {
  background-color: #a63f3f;
  mask-image: url("data:image/svg+xml,%3Csvg width='25' height='23' viewBox='0 0 25 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7527 1.00879C11.529 -0.335808 13.4695 -0.335808 14.2458 1.00879L24.7263 19.1602C25.5026 20.5048 24.5319 22.1855 22.9792 22.1855H2.01929C0.466755 22.1855 -0.503089 20.5047 0.273193 19.1602L10.7527 1.00879ZM12.4998 15.25C11.6727 15.25 10.9998 16.0911 10.9998 17.125C10.9998 18.1589 11.6727 19 12.4998 19C13.3267 18.9998 13.9998 18.1588 13.9998 17.125C13.9998 16.0912 13.3267 15.2502 12.4998 15.25ZM11.6228 7C11.3654 7 11.1607 7.26952 11.1736 7.59082L11.4285 13.9658C11.4405 14.2651 11.638 14.5 11.8777 14.5H13.1218C13.3614 14.4998 13.559 14.2649 13.571 13.9658L13.8259 7.59082C13.8388 7.26962 13.6339 7.00018 13.3767 7H11.6228Z' fill='%23A63F3F'/%3E%3C/svg%3E%0A");
}
.p-entry-content .is-style-box-caution,
.p-entry-content .is-style-box-caution-icon {
  color: #8b7e41;
  background-color: #fefae7;
  border-color: #f9efbe;
}
.p-entry-content .is-style-box-caution-icon::before {
  background-color: #efc701;
  mask-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 0C19.4036 0 25 5.59644 25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5C0 5.59644 5.59644 0 12.5 0ZM12.5 15.25C11.6729 15.25 11 16.0911 11 17.125C11 18.1589 11.6729 19 12.5 19C13.3271 19 14 18.1589 14 17.125C14 16.0911 13.3271 15.25 12.5 15.25ZM11.623 7C11.3657 7.00001 11.161 7.26952 11.1738 7.59082L11.4287 13.9658C11.4408 14.265 11.6383 14.4999 11.8779 14.5H13.1221C13.3617 14.4999 13.5592 14.265 13.5713 13.9658L13.8262 7.59082C13.839 7.26952 13.6343 7.00001 13.377 7H11.623Z' fill='%23EFC701'/%3E%3C/svg%3E%0A");
}
.p-entry-content .is-style-box-correct,
.p-entry-content .is-style-box-correct-icon {
  color: #5a8b41;
  background-color: #eefee7;
  border-color: #d2f9be;
}
.p-entry-content .is-style-box-correct-icon::before {
  background-color: #62a63f;
  mask-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 0C19.4036 0 25 5.59644 25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5C0 5.59644 5.59644 0 12.5 0ZM17.0615 9.15723C16.8467 8.94776 16.498 8.94776 16.2832 9.15723L11.125 14.1875L8.7168 11.8389C8.50201 11.6294 8.15323 11.6294 7.93848 11.8389L7.16113 12.5977C6.94635 12.8071 6.94635 13.147 7.16113 13.3564L10.7363 16.8428C10.9511 17.0522 11.2989 17.0522 11.5137 16.8428L17.8389 10.6738C18.0534 10.4644 18.0534 10.1254 17.8389 9.91602L17.0615 9.15723Z' fill='%2362A63F'/%3E%3C/svg%3E%0A");
}
.p-entry-content .is-style-box-note,
.p-entry-content .is-style-box-note-icon {
  color: #8b7241;
  background-color: #fef6e7;
  border-color: #f9e5be;
}
.p-entry-content .is-style-box-note-icon::before {
  background-color: #a6843f;
  mask-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 0C19.4036 0 25 5.59644 25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5C0 5.59644 5.59644 0 12.5 0ZM7.27637 14.9736L7.00293 17.4268C6.96641 17.755 7.24404 18.0333 7.57227 17.9971L10.0244 17.7266L15.9971 11.7539L13.2461 9.00293L7.27637 14.9736ZM16.4062 7.30176C16.0034 6.89924 15.35 6.89908 14.9473 7.30176L13.7324 8.51758L16.4834 11.2676L17.6982 10.0527C18.1009 9.64976 18.1008 8.99657 17.6982 8.59375L16.4062 7.30176Z' fill='%23A6843F'/%3E%3C/svg%3E%0A");
}
.p-entry-content .is-style-box-hint,
.p-entry-content .is-style-box-hint-icon {
  color: #41728b;
  background-color: #e7f6fe;
  border-color: #bee5f9;
}
.p-entry-content .is-style-box-hint-icon::before {
  background-color: #3f84a6;
  mask-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 0C19.4036 0 25 5.59644 25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5C0 5.59644 5.59644 0 12.5 0ZM10.4561 18.4238C10.4564 18.5956 10.5036 18.7641 10.5928 18.9072L11.0303 19.6094C11.1049 19.7295 11.2064 19.8284 11.3252 19.8965C11.4438 19.9644 11.5764 19.9999 11.7109 20H13.2891C13.4239 20 13.557 19.9646 13.6758 19.8965C13.7945 19.8284 13.8951 19.7294 13.9697 19.6094L14.4072 18.9072C14.4963 18.764 14.5437 18.5958 14.5439 18.4238L14.5449 17.375H10.4551L10.4561 18.4238ZM12.4863 6C9.87812 6.00848 8 8.26876 8 10.8125C8.00002 12.0257 8.42017 13.1328 9.11328 13.9785C9.53562 14.4939 10.1963 15.5702 10.4482 16.4785C10.4493 16.4856 10.4502 16.4929 10.4512 16.5H14.5488C14.5498 16.4929 14.5507 16.4859 14.5518 16.4785C14.8037 15.5702 15.4644 14.4939 15.8867 13.9785C16.5798 13.1328 17 12.0257 17 10.8125C17 8.14969 14.978 5.99202 12.4863 6ZM12.5 7.75C12.726 7.75 12.9092 7.94579 12.9092 8.1875C12.9092 8.4292 12.726 8.625 12.5 8.625C11.3722 8.625 10.4541 9.60639 10.4541 10.8125C10.4541 11.054 10.2717 11.2497 10.0459 11.25C9.8199 11.25 9.63676 11.0542 9.63672 10.8125C9.63672 9.12379 10.9209 7.75 12.5 7.75Z' fill='%233F84A6'/%3E%3C/svg%3E%0A");
}
.p-entry-content .is-style-list-default li::before {
  display: none;
}
.p-entry-content .is-style-list-check li::before {
  width: 1.2rem;
  aspect-ratio: 2;
  border-bottom: 2px solid #1bb4d4;
  border-left: 2px solid #1bb4d4;
  transform: translateY(-50%) rotate(-45deg);
}
.p-entry-content .is-style-list-dot li::before {
  width: 0.8rem;
  aspect-ratio: 1;
  background-color: #1bb4d4;
  border-radius: 50%;
  transform: translateY(-50%);
}
.p-entry-content .is-style-list-number {
  counter-reset: number 0;
}
.p-entry-content .is-style-list-number li {
  counter-increment: number;
}
.p-entry-content .is-style-list-number li::before {
  font-family: "Roboto", sans-serif;
  color: #1bb4d4;
  content: counter(number) ".";
  transform: translateY(calc(-50% + 1px));
}
.p-entry-content .is-style-list-step {
  padding: 0;
  counter-reset: number 0;
}
.p-entry-content .is-style-list-step li {
  padding-top: 1.5em;
  padding-left: 1.5em;
  counter-increment: number;
}
.p-entry-content .is-style-list-step li::before {
  top: 0.5em;
  left: 0;
  width: 1rem;
  aspect-ratio: 1;
  background-color: #1bb4d4;
  border-radius: 50%;
}
.p-entry-content .is-style-list-step li::after {
  position: absolute;
  top: 0;
  left: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #1bb4d4;
  content: "STEP " counter(number);
}
.p-entry-content .is-style-list-step li:not(:last-of-type) {
  background-image: linear-gradient(to right, rgba(123, 123, 123, 0.3));
  background-repeat: no-repeat;
  background-position: calc(0.5rem - 0.5px) 1.5em;
  background-size: 1px 100%;
}
.p-entry-content .is-style-list-step li:nth-of-type(even)::before {
  background-color: transparent;
  border: 2px solid #1bb4d4;
}
.p-entry-content .is-style-table-header-bg thead th,
.p-entry-content .is-style-table-header-bg thead td,
.p-entry-content .is-style-table-header-bg tr:first-child th,
.p-entry-content .is-style-table-header-bg tr:first-child td {
  font-weight: 700;
  background-color: #f7f7f7;
}
.p-entry-content .is-style-table-first-col-bg th:first-child,
.p-entry-content .is-style-table-first-col-bg td:first-child {
  font-weight: 700;
  background-color: #f7f7f7;
}
.p-entry-content .is-style-table-stripe tr:nth-child(odd) {
  background-color: #f7f7f7;
}
.p-entry-content .c-marker {
  font-weight: 700;
  background: linear-gradient(transparent 60%, #fce621 60%);
}
.p-entry-content .c-text-red {
  font-weight: 700;
  color: #c72c4c;
}
.p-entry-content .c-text-blue {
  font-weight: 700;
  color: #1bb4d4;
}
.p-entry-content .c-font-en {
  font-family: "Roboto", sans-serif;
}

.p-entry-content pre[class*=language-] {
  border-radius: 0.4rem;
}
.p-entry-content div.code-toolbar > .toolbar {
  opacity: 1;
}
@media (any-hover: hover) {
  .p-entry-content .toolbar-item > button:hover {
    color: #fff;
    background-color: #1bb4d4;
  }
}

.p-post-nav {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-top: 2.4rem;
  border-top: 2px solid #1bb4d4;
}
@media screen and (width >= 768px) {
  .p-post-nav {
    flex-direction: row;
  }
}
.p-post-nav__item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
@media screen and (width >= 768px) {
  .p-post-nav__item {
    width: 50%;
  }
}
.p-post-nav__label {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(62, 62, 62, 0.75);
}
.p-post-nav__label--prev {
  text-align: left;
}
.p-post-nav__label--next {
  text-align: right;
}

.p-related-articles {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
@media screen and (width >= 768px) {
  .p-related-articles {
    gap: 2.4rem;
  }
}
.p-related-articles__title {
  padding-bottom: 0.8em;
  font-size: 1.4rem;
  font-weight: 700;
  border-bottom: 2px solid #1bb4d4;
}
@media screen and (width >= 768px) {
  .p-related-articles__title {
    font-size: 1.6rem;
  }
}
.p-related-articles__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.6rem;
}
@media screen and (width >= 768px) {
  .p-related-articles__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
  }
}

.p-toc {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem;
  background-color: #f7f7f7;
  border: 2px solid rgba(123, 123, 123, 0.3);
  border-radius: 0.8rem;
}
@media screen and (width >= 768px) {
  .p-toc {
    padding: 3.2rem;
  }
}
.p-toc__title {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
}
.p-toc__title::before {
  display: inline-block;
  width: 2rem;
  aspect-ratio: 1;
  content: "";
  background-color: #1bb4d4;
  mask-image: url("../images/icon/icon-toc.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
.p-toc__list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.p-toc__item {
  line-height: 1.6;
}
.p-toc__item--h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.p-toc__item--h3 {
  padding-left: 2.4rem;
  font-size: 1.4rem;
}
.p-toc__item--h4 {
  padding-left: 4.8rem;
  font-size: 1.3rem;
  color: rgba(62, 62, 62, 0.75);
}
.p-toc__number {
  margin-right: 0.8rem;
  font-family: "Roboto", sans-serif;
  color: #1bb4d4;
}
.p-toc__link {
  display: inline;
  color: inherit;
  transition: opacity 0.4s ease-out;
}
@media (any-hover: hover) {
  .p-toc__link:hover {
    opacity: 0.7;
  }
}

.p-toc-sidebar {
  display: none;
}
@media screen and (width >= 1024px) {
  .p-toc-sidebar {
    position: sticky;
    top: 11.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 2.4rem;
    background-color: #f7f7f7;
    border-radius: 0.8rem;
  }
}
.p-toc-sidebar__title {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
}
.p-toc-sidebar__title::before {
  display: inline-block;
  width: 2rem;
  aspect-ratio: 1;
  content: "";
  background-color: #1bb4d4;
  mask-image: url("../images/icon/icon-toc.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
.p-toc-sidebar__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-left: 1.6rem;
}
.p-toc-sidebar__list::before {
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  left: 0;
  width: 2px;
  content: "";
  background-color: rgba(27, 180, 212, 0.2);
}
.p-toc-sidebar__item {
  position: relative;
  line-height: 1.5;
}
.p-toc-sidebar__item::before {
  position: absolute;
  top: 0.75em;
  left: calc(-1.6rem + 1px);
  z-index: 1;
  content: "";
  background-color: rgb(181, 226.9, 236.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.4s ease-out;
}
.p-toc-sidebar__item--h2 {
  font-size: 1.4rem;
  font-weight: 700;
}
.p-toc-sidebar__item--h2::before {
  width: 1.2rem;
  aspect-ratio: 1;
}
.p-toc-sidebar__item--h3 {
  padding-left: 1.2rem;
  font-size: 1.3rem;
}
.p-toc-sidebar__item--h3::before {
  width: 0.8rem;
  aspect-ratio: 1;
}
.p-toc-sidebar__item--h4 {
  padding-left: 2.4rem;
  font-size: 1.2rem;
  color: rgba(62, 62, 62, 0.75);
}
.p-toc-sidebar__item--h4::before {
  display: none;
}
.p-toc-sidebar__item.is-active {
  font-weight: 700;
}
.p-toc-sidebar__item.is-active::before {
  background-color: #1bb4d4;
}
.p-toc-sidebar__item.is-active .p-toc-sidebar__link {
  color: #1bb4d4;
}
.p-toc-sidebar__link {
  display: inline-block;
  width: 100%;
  color: inherit;
  transition: color 0.4s ease-out;
}
@media (any-hover: hover) {
  .p-toc-sidebar__link:hover {
    color: #1bb4d4;
  }
}

.p-toc-modal {
  position: fixed;
  inset: 0;
  z-index: 300;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  opacity: 0;
}
@media screen and (width >= 1024px) {
  .p-toc-modal {
    display: none;
  }
}
.p-toc-modal__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(62, 62, 62, 0.6);
  backdrop-filter: blur(5px);
}
.p-toc-modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
  max-height: 80svh;
  background-color: #f7f7f7;
  border-radius: 0.8rem;
  box-shadow: 0 0 1.5rem 0 rgba(102, 102, 102, 0.2);
}
.p-toc-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2.4rem;
  border-bottom: 1px solid rgba(123, 123, 123, 0.3);
}
.p-toc-modal__title {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
}
.p-toc-modal__title::before {
  display: inline-block;
  width: 2rem;
  aspect-ratio: 1;
  content: "";
  background-color: #1bb4d4;
  mask-image: url("../images/icon/icon-toc.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
.p-toc-modal__close-button {
  position: relative;
  display: block;
  width: 2.4rem;
  aspect-ratio: 1;
}
.p-toc-modal__close-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  aspect-ratio: 1;
  content: "";
  background-color: rgba(62, 62, 62, 0.75);
  mask-image: url("../images/icon/icon-close.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  transform: translate(-50%, -50%);
}
.p-toc-modal__scroll-area {
  padding: 1.6rem 2.4rem;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.p-toc-modal-list__list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.p-toc-modal-list__item {
  line-height: 1.5;
}
.p-toc-modal-list__item.is-active {
  font-weight: 700;
  color: #1bb4d4;
}
.p-toc-modal-list__item--h2 {
  font-size: 1.4rem;
  font-weight: 700;
}
.p-toc-modal-list__item--h3 {
  padding-left: 1.6rem;
  font-size: 1.3rem;
  border-left: 1px solid #1bb4d4;
}
.p-toc-modal-list__item--h4 {
  padding-left: 3.2rem;
  font-size: 1.2rem;
  color: rgba(62, 62, 62, 0.75);
  border-left: 1px solid rgba(123, 123, 123, 0.3);
}
.p-toc-modal-list__link {
  display: inline-block;
  width: 100%;
  color: inherit;
}

.p-article-meta {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem;
  font-size: 1.3rem;
  background-color: #f7f7f7;
  border-radius: 0.8rem;
}
.p-article-meta__time-wrapper {
  display: flex;
  gap: 2.4rem;
}
.p-article-meta__date {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: rgba(62, 62, 62, 0.75);
}
.p-article-meta__date::before {
  width: 1em;
  aspect-ratio: 1;
  content: "";
  background-color: rgba(62, 62, 62, 0.75);
  mask-repeat: no-repeat;
  mask-size: contain;
}
.p-article-meta__date--post::before {
  mask-image: url("../images/icon/icon-time.svg");
}
.p-article-meta__date--modified::before {
  mask-image: url("../images/icon/icon-update.svg");
}
.p-article-meta__category-link {
  display: block;
  width: fit-content;
  padding: 0.6em 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #1bb4d4;
  background-color: rgba(27, 180, 212, 0.1);
  border-radius: 0.4rem;
  transition: opacity 0.4s ease-out;
}
@media (any-hover: hover) {
  .p-article-meta__category-link:hover {
    opacity: 0.7;
  }
}
.p-article-meta__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.p-article-meta__tag a {
  display: flex;
  gap: 0.6em;
  align-items: center;
  padding: 0.4em 0.8em;
  color: #1bb4d4;
  border: 1px solid #1bb4d4;
  border-radius: 0.4rem;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
}
.p-article-meta__tag a::before {
  width: 1em;
  aspect-ratio: 1;
  content: "";
  background-color: #1bb4d4;
  mask-image: url("../images/icon/icon-tag.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  transition: background-color 0.4s ease-out;
}
@media (any-hover: hover) {
  .p-article-meta__tag a:hover {
    color: #fff;
    background-color: #1bb4d4;
  }
  .p-article-meta__tag a:hover::before {
    background-color: #fff;
  }
}

/*# sourceMappingURL=style.unprefixed.css.map */
