// =========================================================================
// Variables
// サイト全体で使用するSass変数およびCSS変数の定義
// =========================================================================

// =========================================================================
// ブレイクポイント
// =========================================================================
$breakpoints: (
  "sm": 375px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px
);

// =========================================================================
// フォント
// =========================================================================
$font-ja: "Noto Sans JP", sans-serif;
$font-en: "Roboto", sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

// =========================================================================
// 色
// =========================================================================
$color-main: #1bb4d4;
$color-bg: #f7f7f7;
$color-text-main: #3e3e3e;
$color-text-main-light: rgb($color-text-main, 75%);
$color-text-white: #fff;
$color-accent: #fce621;
$color-border: rgb(123 123 123 / 30%);

// =========================================================================
// 影
// =========================================================================
$box-shadow-contents: 0 0 1.5rem 0 rgb(102 102 102 / 20%);
$box-shadow-card: 0 0 0.4rem 0 rgb(0 0 0 / 15%);

// =========================================================================
// z-index
// =========================================================================
$z-back: -1;
$z-default: 1;
$z-index-header: 100;

// TODO z-index変数は適宜追加する

// =========================================================================
// Size & Layout (サイズ・レイアウト関連)
// =========================================================================

// ヘッダーの高さ
$header-height-sp: 6rem;
$header-height-tab: 7rem;
$header-height-pc: 9rem;

// =========================================================================
// アニメーション
// =========================================================================

// hover時のopacity
$opacity-hover: 0.7;

// transitionの基本時間
$transition-base-duration: 0.4s;

// transitionの基本easing
$transition-base-easing: ease-out;

// アニメーションの基本時間
$animation-base-duration: 1s;

// アニメーションの基本easing（transitionの基本easingと同じ）
$animation-base-easing: $transition-base-easing;

// =========================================================================
// CSS変数（JavaScript連携用など）
// =========================================================================
:root {
}
