@use "../global/" as g;

// =========================================================================
// Header Layout
// ヘッダーおよびグローバルナビゲーション（.l-header）のスタイル設定
// =========================================================================
.l-header {
  $parent: &;

  position: fixed;
  top: 0;
  left: 0;
  z-index: g.$z-index-header;
  display: flex;
  align-items: center;
  width: 100%;
  height: g.$header-height-sp;
  background-color: g.$color-text-white;
  box-shadow: g.$box-shadow-contents;

  @include g.mq(md) {
    height: g.$header-height-tab;
  }

  @include g.mq(lg) {
    height: g.$header-height-pc;
  }

  &__inner {
    @include g.contents-width;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include g.mq(lg) {
      max-width: 160rem;
    }
  }

  &__logo {
    width: 18.8rem;

    @include g.mq(md) {
      width: 20.5rem;
    }

    @include g.mq(lg) {
      width: 27.3rem;
    }
  }

  &__logo-link {
    display: block;
    padding: 1rem 0;
    transition: opacity g.$transition-base-duration g.$transition-base-easing;

    @include g.hover {
      opacity: g.$opacity-hover;
    }
  }

  &__logo-image {
    width: 100%;
    object-fit: cover;
  }

  &__actions {
    display: flex;
    gap: 3rem;
    align-items: center;

    @include g.mq(md) {
      gap: 4rem;
    }
  }

  &__category-wrapper {
    display: none;

    @include g.mq(lg) {
      position: relative;
      display: block;
      display: grid;
      place-content: center;
      height: g.$header-height-pc;

      @include g.hover {
        #{$parent}__category-list {
          clip-path: inset(0 0 0 0);
        }
      }
    }
  }

  &__category-heading {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.4rem;

    &::after {
      width: 1.1rem;
      height: 0.6rem;
      content: "";
      background-color: g.$color-text-main;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
    }
  }

  &__category-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 22rem;
    background-color: g.$color-main;
    clip-path: inset(0 0 100% 0);
    transition: clip-path g.$transition-base-duration g.$transition-base-easing;
  }

  &__category-item {
    &:not(:last-of-type) {
      border-bottom: 1px dotted g.$color-text-white;
    }
  }

  &__category-link {
    position: relative;
    display: block;
    padding: 1em;
    font-family: g.$font-en;
    font-size: 1.4rem;
    font-weight: g.$font-weight-bold;
    color: g.$color-text-white;
    transition: color g.$transition-base-duration g.$transition-base-easing;

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 0.7rem;
      aspect-ratio: 1;
      content: "";
      border-right: 2px solid g.$color-text-white;
      border-bottom: 2px solid g.$color-text-white;
      transform: translate(-1em, -50%) rotate(-45deg);
      transition:
        border-color g.$transition-base-duration g.$transition-base-easing,
        transform g.$transition-base-duration g.$transition-base-easing;
    }

    @include g.hover {
      color: g.$color-accent;

      &::after {
        border-color: g.$color-accent;
        transform: translate(calc(-1em + 2px), -50%) rotate(-45deg);
      }
    }
  }

  &__search-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: g.$color-bg;
    clip-path: inset(0 0 100% 0);
    transition: clip-path g.$transition-base-duration g.$transition-base-easing;

    &.is-open {
      clip-path: inset(0 0 0 0);
    }

    @include g.mq(lg) {
      position: static;
      top: initial;
      left: initial;
      width: auto;
      height: auto;
      clip-path: inset(0 0 0 0);
      transition: none;
    }
  }

  &__search-form {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 2rem;

    @include g.mq(md){
      padding-right: 3rem;
    }

    @include g.mq(lg) {
      width: 28rem;
      padding-right: 0;
      padding-right: 2rem;
      border: 2px solid g.$color-border;
      border-radius: g.$radius-sm;
    }
  }

  &__search-input {
    flex-grow: 1;
    padding: 0.5em 2rem;
    font-size: 1.4rem;

    &::placeholder {
      color: g.$color-text-main-light;
    }

    @include g.mq(md) {
      padding: 0.5em 3rem;
      font-size: 1.6rem;
    }

    @include g.mq(lg) {
      padding: 0.8em;
      font-size: 1.4rem;
    }
  }

  &__search-button {
    display: grid;
    place-content: center;
    height: 4rem;
    cursor: pointer;

    &::before {
      width: 2rem;
      aspect-ratio: 1;
      content: "";
      background-color: g.$color-text-main;
      mask-image: url("../images/icon/icon-search.svg");
      mask-size: cover;
      transition: background-color g.$transition-base-duration g.$transition-base-easing;

      @include g.mq(md) {
        width: 2.4rem;
      }

      @include g.mq(lg) {
        width: 2rem;
      }
    }

    @include g.hover {
      &::before {
        background-color: g.$color-text-main-light;
      }
    }
  }

  &__contact-wrapper {
    display: none;

    @include g.mq(lg) {
      display: block;
    }
  }

  &__contact-link {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 18rem;
    padding: 1rem 0;
    font-size: 1.4rem;
    font-weight: g.$font-weight-bold;
    color: g.$color-text-white;
    background-color: g.$color-main;
    border: 1px solid transparent;
    border-radius: 100vmax;
    transition:
      color g.$transition-base-duration g.$transition-base-easing,
      background-color g.$transition-base-duration g.$transition-base-easing;

    &::before {
      display: inline-block;
      width: 2rem;
      aspect-ratio: 22 / 16;
      content: "";
      background-color: currentcolor;
      mask-image: url("../images/icon/icon-contact.svg");
      mask-size: cover;
    }

    @include g.hover {
      color: g.$color-main;
      background-color: g.$color-text-white;
      border: 1px solid g.$color-main;
    }
  }

  &__sp-search-button,
  &__hamburger-button {
    display: grid;
    place-content: center;
    height: 4rem;

    &::before {
      content: "";
      background-size: cover;
    }

    @include g.mq(lg) {
      display: none;
    }
  }

  &__sp-search-button {
    &::before {
      width: 2rem;
      aspect-ratio: 1;
      background-color: g.$color-text-main;
      mask-image: url("../images/icon/icon-search.svg");
      mask-size: cover;
    }

    &.is-open::before {
      width: 1.6rem;
      mask-image: url("../images/icon/icon-close.svg");
    }
  }

  &__hamburger-button {
    &::before {
      width: 2rem;
      aspect-ratio: 2 / 1.4;
      background-color: g.$color-text-main;
      mask-image: url("../images/icon/icon-hamburger.svg");
      mask-size: cover;
    }
  }

  &__sp-nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: backdrop-filter g.$transition-base-duration g.$transition-base-easing;

    &.is-open {
      pointer-events: all;
      backdrop-filter: blur(5px);

      #{$parent}__sp-nav {
        transform: translateX(0);
      }
    }

    @include g.mq(lg) {
      display: none;
    }
  }

  &__sp-nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 66%;
    height: 100%;
    padding: 0 2rem;
    background-color: g.$color-main;
    transform: translateX(100%);
    transition: transform g.$transition-base-duration g.$transition-base-easing;

    @include g.mq(md) {
      width: 50%;
      padding: 0 3rem;
    }
  }

  &__nav-close-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: g.$header-height-sp;
    border-bottom: 1px solid g.$color-text-white;
  }

  &__nav-close-button {
    display: grid;
    place-content: center;
    height: 4rem;

    &::before {
      width: 1.6rem;
      aspect-ratio: 1;
      content: "";
      background-color: g.$color-text-white;
      mask-image: url("../images/icon/icon-close.svg");
      mask-size: cover;
    }
  }

  &__sp-nav-list {
    display: flex;
    flex-direction: column;
  }

  &__sp-nav-item {
    position: relative;
    border-bottom: 1px dotted g.$color-text-white;

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 0.7rem;
      aspect-ratio: 1;
      content: "";
      border-right: 2px solid g.$color-text-white;
      border-bottom: 2px solid g.$color-text-white;
      transform: translate(-1px, -50%) rotate(-45deg);

      @include g.mq(md) {
        width: 0.9rem;
      }
    }
  }

  &__sp-nav-link {
    display: block;
    width: fit-content;
    padding: 1em 0;
    font-size: 1.4rem;
    font-weight: g.$font-weight-bold;
    color: g.$color-text-white;

    &--en {
      font-family: g.$font-en;
    }

    @include g.mq(md) {
      font-size: 1.6rem;
    }
  }
}
