@use "../global/" as g;

// =========================================================================
// Sidebar Layout
// サイドバー（.l-sidebar）のスタイル設定
// =========================================================================

.l-sidebar {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include g.mq(md) {
    gap: 4.8rem;
    max-width: 40rem;
    margin-inline: auto;
  }

  @include g.mq(lg) {
    gap: 6.4rem;
    height: 100%;
  }
}
