@use "../../global/" as g;

// =========================================================================
// Component: Pagetop
// 全ページで使用する「トップへ戻るボタン」（.c-pagetop）のスタイル設定
// =========================================================================

.c-pagetop {
  position: fixed;
  right: 1.6rem;
  bottom: 2.4rem;
  z-index: g.$z-index-fixed;
  width: 4.4rem;
  aspect-ratio: 1;
  pointer-events: none;
  cursor: pointer;
  background-color: g.$color-text-white;
  border-radius: 50%;
  box-shadow: g.$box-shadow-card;
  opacity: 0;
  transform: translateY(6rem);
  transition:
    opacity g.$transition-base-duration g.$transition-base-easing,
    transform g.$transition-base-duration g.$transition-base-easing,
    background-color g.$transition-base-duration g.$transition-base-easing;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.7rem;
    aspect-ratio: 1;
    content: "";
    border-top: 2px solid g.$color-main;
    border-left: 2px solid g.$color-main;
    transform: translate(-50%, calc(-50% + 1px)) rotate(45deg);
  }

  &.is-active {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
  }

  @include g.mq(lg) {
    right: 2.4rem;
  }

  @include g.hover {
    background-color: g.$color-accent;
  }
}
