@use "../../global/" as g;

// =========================================================================
// Component: TOC Button (フローティングボタン)
// 目次表示ボタン（.c-toc-button）のスタイル設定
// =========================================================================
.c-toc-button {
  position: fixed;
  right: 1.6rem;
  bottom: 8rem; // トップへ戻るボタンと被らないように少し上へ
  z-index: g.$z-index-fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5.6rem;
  aspect-ratio: 1;
  color: g.$color-text-white;
  background-color: g.$color-main;
  border-radius: 50%;
  box-shadow: g.$box-shadow-card;
  transition: opacity g.$transition-base-duration g.$transition-base-easing;

  @include g.mq(lg) {
    display: none; // PC表示時は非表示にする
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-size: 1rem;
    font-weight: g.$font-weight-bold;
  }
}
